<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Layer Editor</title>
    <link rel="stylesheet" href="/leaflet.css"/>
    <script src="/leaflet-src.js"></script>
    <script src="/editor-src.js"></script>
    <style>
        a, strong, small, button, select, input, output {
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-size: 14px;
        }

        .divMap {
            width: 100%;
            border: 1px solid dimgray;
        }

        .divButton {
            padding-top: 10px;
            background-color: white;
            height: 30px;
            width: 100%;
            border-top: 1px solid #a6a6a6;
            text-align: center;
            cursor: pointer;
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-size: 16px;
        }


        .divButton:hover {
            background-color: black;
            color: white;
        }

        .divSet {
            padding: 8px;
            display: none;
        }

        .divMsg {
            display: flex;
            width: 95%;
            border: 1px solid gray;
        }

        .divMsgColor {
            width: 3px;
            background-color: #5b5be0;
        }

        .divMsgText {
            width: 100%;
            font-size: small;
            background-color: white;
            color: #000000;
            padding: 5px 5px 5px 5px;
            font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        }

        .divSettings {
            overflow: auto;
            display: none;
        }

        .buttonAdd {
            height: 40px;
            width: 95%;
            background-color: #bbffa9;
            border: 0;
            cursor: pointer;
        }

        .buttonAdd:hover {
            background-color: #9dd98b;
        }

        .buttonDel {
            height: 40px;
            width: 95%;
            background-color: #f5bd83;
            border: 0;
            cursor: pointer;
        }

        .buttonDel:hover {
            background-color: #d9a375;
        }

        .removeLayer {
            background-color: #dddddd;
            height: 40px;
            width: 95%;
            padding: 5px;
            text-align: center;
            display: flex;
            cursor: pointer;
        }

        .removeLayer:hover {
            background-color: #bebebe;
        }

        .iconBar {
            width: 44px;
            padding: 6px 0 3px 0;
            background-color: white;
            border: 2px solid #b2b2b2;
            border-radius: 5px;
            position: absolute;
            top: 70px;
            right: 10px;
            bottom: auto;
            left: auto;
            opacity: 0.9;
            z-index: 401;
            cursor: pointer;
        }

        .toolIcon {
            width: 44px;
            background-color: white;
        }

        .toolIcon:hover {
            background-color: #595959;
        }

        .markerIcon {
            height: 40px;
            background-color: white;
        }

        .markerIcon:hover {
            background-color: #595959;
        }
    </style>
</head>
<body style="background-color: #f5f5f5; margin: 0;">
<div style=" max-height: 50px; display: flex; padding: 5px 10px 5px 10px;">
    <div style="width: 100%; text-align: left; display:flex;">
        <div style="min-height: 40px; max-height: 40px; width: 160px; border: 1px solid #00007EFF; border-right: none;
                    background-color: #dddddd; padding-top: 5px; text-align: center;">
            <strong>DEBUG MSG:</strong><br><small>(for UX enhancement)</small>
        </div>
        <div style="min-height: 40px; max-height: 40px; min-width: 15px; max-width: 80%; border: 1px solid #00007e;
                    padding-top: 5px; padding-left: 10px; padding-right: 10px; overflow: auto">
            <a id="debugMsg">...</a>
        </div>
    </div>
    <div class="toolIcon" style="width: 90px; padding: 7px 0 0 15px; border: 1px solid dimgray; border-radius: 15px;">
        <a href="/"><img src="/images/layers/backTr.png" style="height: 30px;"></a>
    </div>
</div>
<div style=" display: flex;">
    <div id="mapHolder" style="width: 100%; position: relative; right: 1px;">
        <div id="map" class="divMap"></div>
        <div class="iconBar">
            <img id="i1" src="/images/layers/iconPointTr.png" class="toolIcon" onclick="onClickMarkerIcon()">
            <img id="i2" src="/images/layers/iconPLineTr.png" class="toolIcon" onclick="onClickPLine()">
            <img id="i3" src="/images/layers/iconMRecTr.png" class="toolIcon" onclick="onClickPolygonIcon()">
            <img id="i4" src="/images/layers/iconRecTr.png" class="toolIcon" onclick="onClickRectIcon()">
            <img id="i5" src="/images/layers/iconCircTr.png" class="toolIcon" onclick="onClickCircleIcon()">
            <img id="i6" src="/images/layers/iconHandTr.png" class="toolIcon"
                 style="background-color: #bbffa9;" onclick="onClickBrowsIcon()">
            <img id="i7" src="/images/layers/iconArrTr.png" class="toolIcon" onclick="onClickArrowIcon()">
            <img id="i8" src="/images/layers/iconRecSelTr.png" class="toolIcon" onclick="onClickRectSelIcon()">
        </div>
    </div>
    <div style="max-width: 300px; min-width: 300px; background-color: #f5f5f5; border-top: 1px solid dimgray;
    border-bottom: 1px solid dimgray;">
        <div class="divButton" style="border-top: 0;" onclick="onClickAddDel()">
            LAYER GROUPs ops in EDITOR
        </div>
        <div id="divSet_1" class="divSet">
            <div class="divMsg">
                <div id="addMsgColor" class="divMsgColor"></div>
                <div id="addMsgText" class="divMsgText"></div>
            </div>
            <div id="divSet_1_scroll">
                <br>
                <a><strong>Enter layer group name to create:</strong></a>
                <input id="addField" style="height: 20px;" size="30" maxlength="30">
                <br><br>
                <a><strong>Existing layer groups:</strong></a>
                <div id="existingList">
                    <div></div>
                </div>
                <br>
                <button class="buttonAdd" onclick="onClickLayerGrAdd()">CREATE layer group</button>
                <br><br>
                <a><strong>Choose layer group to delete:</strong></a><br>
                <div class="layerSelection">
                    <select id="existedLGroupsSelector0">
                    </select>
                </div>
                <br>
                <button class="buttonDel" onclick="onClickLayerGrDel()">DELETE layer group</button>
                <br><br>
            </div>
        </div>
        <div class="divButton" onclick="onClickLoadSave()">
            LAYER GROUPs ops in DATABASE
        </div>
        <div id="divSet_3" class="divSet">
            <div class="divMsg">
                <div class="divMsgColor"></div>
                <div id="bdMsgText" class="divMsgText">
                    Choose layer group and relevant operation. To browse current layer groups use icon -
                    <img src="/images/layers.png" width=16px>
                </div>
            </div>
            <div id="divSet_3_scroll">
                <br>
                <a><strong>Select layer group to SAVE in database</strong>:</a>
                <div class="layerSelection">
                    <select id="existedLGroupsSelector1">
                    </select>
                </div>
                <br>
                <button class="buttonAdd" onclick="saveGroupToDB()">
                    SAVE/REPLACE<br> layer group in DB
                </button>
                <br><br>
                <div style="border: 1px solid black; padding: 5px;">
                    <a><strong>Select layer group to DOWNLOAD <br>or REMOVE from database</strong>:</a>
                    <div id="savedGroups">
                        <select id="savedGroupSelection">
                        </select>
                    </div>
                    <br>
                    <button class="buttonAdd" onclick="loadGroupFromDB()">
                        DOWNLOAD<br>layer group from DB
                    </button>
                    <br>
                    <br>
                    <button class="buttonDel" onclick="deleteGroupFromDB()">
                        REMOVE<br>layer group from DB
                    </button>
                    <br><br>
                </div>
                <br>
            </div>
        </div>
        <div class="divButton" onclick="onClickDivEdit()">
            ops with LAYERS
        </div>
        <div id="divSet_4" class="divSet" style="display: block">
            <div class="divMsg">
                <div class="divMsgColor"></div>
                <div id="editMsgText" class="divMsgText">
                    To place a <strong>LAYER</strong>, select it from the menu on the left.
                    To browse current <strong>LAYER GROUPS</strong> use icon -
                    <img src="/images/layers.png" width=16px>
                </div>
            </div>
            <div id="divSet_4_scroll">
                <div id="markerSettings" class="divSettings">
                    <br>
                    <div class="removeLayer" onclick="removeFromMap()">
                        <div style="margin: auto; width: 40px;">
                            <img src="/images/layers/garbageTr.png" style="height: 30px;">
                        </div>
                        <div style="margin: auto; width: 100%; text-align: left;">
                            <a style="color: #DD0003"> remove <strong class="garbageCounter">0</strong> layer from
                                map</a>
                        </div>
                    </div>
                    <br>
                    <a><strong>Change marker symbol</strong>:</a>
                    <div style="display: flex; border: 1px solid black; background-color: white;
                    width: 95%; padding: 5px; cursor: pointer;">
                        <img id="marker0" src="/images/marker-icon.png" class="markerIcon"
                             onclick="mIconShifter(0)">
                        <img id="marker1" src="/images/layers/markers/1Tr.png" class="markerIcon"
                             onclick="mIconShifter(1)">
                        <img id="marker2" src="/images/layers/markers/2Tr.png" class="markerIcon"
                             onclick="mIconShifter(2)">
                        <img id="marker3" src="/images/layers/markers/3Tr.png" class="markerIcon"
                             onclick="mIconShifter(3)">
                        <img id="marker4" src="/images/layers/markers/4Tr.png" class="markerIcon"
                             onclick="mIconShifter(4)">
                        <img id="marker5" src="/images/layers/markers/5Tr.png" class="markerIcon"
                             onclick="mIconShifter(5)">
                        <img id="marker6" src="/images/layers/markers/6Tr.png" class="markerIcon"
                             onclick="mIconShifter(6)">
                        <img id="marker7" src="/images/layers/markers/7Tr.png" class="markerIcon"
                             onclick="mIconShifter(7)">
                    </div>
                    <br>
                    <a><strong>Size of marker</strong><small>(% of default value)</small>:</a>
                    <div style="display: flex; padding-right: 10px;">
                        <div style="width: 100%; margin: auto; padding-top: 5px;">
                            <input id="mSizeInput" style="width: 90%;" type="range" min="50" max="150"
                                   value="100" oninput="mSizeOutput.value = this.value + '%';
                                                        changeSelectedMarkers('changeSize');">
                        </div>
                        <div style="margin: auto; border: 1px solid black; width:80px; padding: 5px;
                        text-align: center;">
                            <output style="font-weight: bold;" id="mSizeOutput">100%</output>
                        </div>
                    </div>
                    <br>
                    <a><strong>Tooltip </strong><small>(small texts on top of layer)</small>:</a>
                    <input id="mToolTipInput" style="height: 20px;" size="30" maxlength="28"
                           oninput="changeSelectedMarkers('changeTooltip');">
                    <br><br>
                    <div style="border: 1px solid black; padding: 5px;">
                        <a><strong>Choose from existing layer groups</strong>:</a>
                        <div class="layerSelection">
                            <select id="existedLGroupsSelector2">
                            </select>
                        </div>
                        <br>
                        <button class="buttonAdd" onclick="onClickToLGroupAdd(2)">
                            ADD layer(s) to layer group
                        </button>
                        <br><br>
                        <a><strong>Choose parent layer group</strong>:</a>
                        <div class="ownerSelection">
                            <select id="ownerSelector0">
                            </select>
                        </div>
                        <br>
                        <button class="buttonDel" onclick="onClickFromOwnerDel(0)">
                            DELETE<br> layer(s) from layer group
                        </button>
                        <br><br>
                    </div>
                    <br>
                </div>
                <div id="vectorSettings" class="divSettings">
                    <br>
                    <div class="removeLayer" onclick="removeFromMap()">
                        <div style="margin: auto; width: 40px;">
                            <img src="/images/layers/garbageTr.png" style="height: 30px;">
                        </div>
                        <div style="margin: auto; width: 100%; text-align: left;">
                            <a style="color: #DD0003"> remove <strong class="garbageCounter">0</strong> layer from
                                map</a>
                        </div>
                    </div>
                    <br>
                    <a><strong>Stroke (border) width in pixels</strong>:</a>
                    <div style="display: flex; padding-right: 10px;">
                        <div style="width: 100%; margin: auto; padding-top: 5px;">
                            <input id="borderWeight" style="width: 90%;" type="range" min="1" max="10"
                                   value="1" oninput="bWeightOutput.value = this.value + 'px.';
                                             changeSelectedVectors('changeWeight')">
                        </div>
                        <div style="margin: auto; border: 1px solid black; width:80px; padding: 5px;
                        text-align: center;">
                            <output style="font-weight: bold;" id="bWeightOutput">1px.</output>
                        </div>
                    </div>
                    <br>
                    <a><strong>Stroke (border) opacity</strong>:</a>
                    <div style="display: flex; padding-right: 10px;">
                        <div style="width: 100%; margin: auto; padding-top: 5px;">
                            <input id="borderOpacity" style="width: 90%;" type="range" min="1" max="100"
                                   value="100" oninput="bOpacityOutput.value = this.value + '%';
                                             changeSelectedVectors('changeOpacity')">
                        </div>
                        <div style="margin: auto; border: 1px solid black; width:80px; padding: 5px;
                        text-align: center;">
                            <output style="font-weight: bold;" id="bOpacityOutput">100%</output>
                        </div>
                    </div>
                    <br>
                    <a><strong>Stroke (border) color</strong>:</a>
                    <div style="display: flex; padding-right: 10px;">
                        <div style="width: 100%; margin: auto;">
                            <input id="borderColor" style="width: 70%;" type="color" value="#000000"
                                   oninput="bColorOutput.value = this.value;
                                   changeSelectedVectors('changeColor')">
                        </div>
                        <div style="margin: auto; border: 1px solid black; width:80px; padding: 5px;
                        text-align: center;">
                            <output style="font-weight: bold;" id="bColorOutput">#000000</output>
                        </div>
                    </div>
                    <br>
                    <a><strong>Fill opacity </strong><small>(not for PolyLines)</small>:</a>
                    <div style="display: flex; padding-right: 10px;">
                        <div style="width: 100%; margin: auto; padding-top: 5px;">
                            <input id="fillOpacity" style="width: 90%;" type="range" min="1" max="100"
                                   value="20" oninput="fOpacityOutput.value = this.value + '%';
                                              changeSelectedVectors('changeFillOpacity')">
                        </div>
                        <div style="margin: auto; border: 1px solid black; width:80px; padding: 5px;
                        text-align: center;">
                            <output style="font-weight: bold;" id="fOpacityOutput">20%</output>
                        </div>
                    </div>
                    <br>
                    <a><strong>Fill color</strong><small>(not for PolyLines)</small>:</a>
                    <div style="display: flex; padding-right: 10px;">
                        <div style="width: 100%; margin: auto;">
                            <input id="fillColor" style="width: 70%;" type="color" value="#1e41da"
                                   oninput="fColorOutput.value = this.value;
                                   changeSelectedVectors('changeFillColor')">
                        </div>
                        <div style="margin: auto; border: 1px solid black; width:80px; padding: 5px;
                        text-align: center;">
                            <output style="font-weight: bold;" id="fColorOutput">#1e41da</output>
                        </div>
                    </div>
                    <br>
                    <a><strong>Tooltip </strong><small>(small texts on top of layer)</small>:</a>
                    <input id="vToolTip" style="height: 20px;" size="30" maxlength="28"
                           oninput="changeSelectedVectors('changeTooltip');">
                    <br><br>
                    <div style="border: 1px solid black; padding: 5px;">
                        <a><strong>Choose from existing layer groups</strong>:</a>
                        <div class="layerSelection">
                            <select id="existedLGroupsSelector3">
                            </select>
                        </div>
                        <br>
                        <button class="buttonAdd" onclick="onClickToLGroupAdd(3)">
                            ADD layer(s) to layer group
                        </button>
                        <br><br>
                        <a><strong>Choose parent layer group</strong>:</a>
                        <div class="ownerSelection">
                            <select id="ownerSelector1">
                            </select>
                        </div>
                        <br>
                        <button class="buttonDel" onclick="onClickFromOwnerDel(1)">
                            DELETE layer(s) from layer group
                        </button>
                        <br><br>
                    </div>
                    <br>
                </div>
                <div id="groupSelection" class="divSettings">
                    <br>
                    <div class="removeLayer" onclick="removeFromMap()">
                        <div style="margin: auto; width: 40px;">
                            <img src="/images/layers/garbageTr.png" style="height: 30px;">
                        </div>
                        <div style="margin: auto; width: 100%; text-align: left;">
                            <a style="color: #DD0003"> remove <strong class="garbageCounter">0</strong> layer from
                                map</a>
                        </div>
                    </div>
                    <br>
                    <a><strong>To add layers to a group, select one of the existing layer groups</strong>:</a>
                    <div class="layerSelection">
                        <select id="existedLGroupsSelector4">
                        </select>
                    </div>
                    <br>
                    <button class="buttonAdd" onclick="onClickToLGroupAdd(4)">
                        ADD layer(s) to layer group
                    </button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div style=" display: flex; font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                font-size: 12px; color: #585858; padding: 5px 2px 3px 2px;">
    Map viewer by Smart Environment v:1.0.1
</div>
<script>
    const mapHeight = screen.availHeight - 160;
    document.getElementById("map").setAttribute("style", "height: " + mapHeight + "px;");
    document.getElementById("divSet_4").setAttribute("style", "display: block; height: "
        + (mapHeight - 139) + "px;");
    document.getElementById("divSet_4_scroll").setAttribute("style", "overflow: auto; height: "
        + (mapHeight - 130 - document.getElementById("editMsgText").clientHeight) + "px");


    let editableLayers = [];
    let layersPoints = [];
    let temporaryLayers = [];
    let tempLayersPoints = [];
    let editMode = false;
    let markerIconUrl = "/images/marker-icon-2x.png";

    const drawPointIcon = L.icon({
        iconUrl: '/images/layers/markers/drawPointTr.png',
        iconSize: [15, 15],
        iconAnchor: [7, 7]
    });
    const editPointIcon = L.icon({
        iconUrl: '/images/layers/markers/editPointTr.png',
        iconSize: [15, 15],
        iconAnchor: [7, 7]
    });
    const editCrossIcon = L.icon({
        iconUrl: '/images/layers/markers/editCrossTr.png',
        iconSize: [25, 25],
        iconAnchor: [13, 13]
    });
    const selectionCrossIcon = L.icon({
        iconUrl: '/images/layers/markers/selectionCrossTr.png',
        iconSize: [35, 35],
        iconAnchor: [18, 18]
    });

    const map = L.map('map').setView([47.160005, 37.530743], 11);
    const osm = L.tileLayer('/getTile/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    L.control.scale().addTo(map);

    const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> ' +
        'contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
    const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}' +
        '?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    const streets = L.tileLayer(mbUrl, {
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        attribution: mbAttr
    });
    const satellite = L.tileLayer(mbUrl, {
        id: 'mapbox/satellite-v9',
        tileSize: 512,
        zoomOffset: -1,
        attribution: mbAttr
    });

    let cities = L.layerGroup();
    L.marker([47.204712, 37.315195]).setIcon(adjustedIcon(markerIconUrl, false))
        .bindPopup('Population: 1.9 thousands.').addTo(cities);
    L.marker([47.174881, 37.687208]).setIcon(adjustedIcon(markerIconUrl, false))
        .bindPopup('Population: 10.3 thousands.').addTo(cities);
    L.marker([47.10, 37.558]).setIcon(adjustedIcon(markerIconUrl, false))
        .bindPopup('Population: 425 thousands.').addTo(cities);

    const baseLayers = {
        'OpenStreetMap': osm,
        'Streets': streets,
        'Satellite': satellite
    };
    let userLayerGroups = {
        'Layer group example': cities
    };

    let layerControl = L.control.layers(baseLayers, userLayerGroups);
    layerControl.addTo(map);
    layerControl.getContainer().addEventListener('mouseout', function () {
        layersPointsCleaner();
        if (editMode) {
            onClickArrowIcon();
        }
    });
</script>
</body>
</html>